<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
  <title>Vue Calculate Product</title>
</head>
<body>
  <div id="vue-test" class="container">
    <form action="">
      <input type="text" placeholder="Type Your Task" v-model='taskText'>

      <button @click.prevent='addTask' :disabled='!taskText'> Add Task </button>

      <button class="delete-all" v-if='tasks.length > 1' @click.prevent='deleteAll'>Delete All</button>

    </form>
    <div class="tasks-list" v-for='(task, index) in tasks'>

      <div class="task-box" @click='task.done = !task.done' :style='{"text-decoration" : task.done ? "line-through" : "" }'
      >

        {{ task.words }}

      </div>

      <span class="delete" @click='deleteTask(index)'>Delete</span>
    </div>
  </div>

  <script src="js/vue.js"></script>
  <script>
    var app = new Vue({
      el: '#vue-test',
      data: {
        taskText: "",
        tasks: []
      },
      methods: {
        addTask: function() {
          this.tasks.push({ words: this.taskText, done: false });
          this.taskText = '';
        },
        deleteTask: function(index) {
          this.tasks.splice(index, 1)
        },
        deleteAll: function() {
          this.tasks = [];
        }
      },
    });
  </script>
</body>
</html>